@model Ganedata.Core.Entities.Domain.AuthActivityGroup
@using Ganedata.Core.Entities.Helpers

@section scripts {

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.SpinEdit, Theme = GaneStaticAppExtensions.DevexTheme },
        new StyleSheet { ExtensionType = ExtensionType.DateEdit, Theme = GaneStaticAppExtensions.DevexTheme }
        )

    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.SpinEdit },
        new Script { ExtensionType = ExtensionType.DateEdit }
        )
}

@{
    ViewBag.Title = "Activity Group Detail";
}

<h2><span>Activity Group Detail</span></h2>

<div class="form-horizontal col-md-6 pull-left">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActivityGroupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityGroupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActivityGroupDetail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActivityGroupDetail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>


    </dl>
</div>

<div class="input-group h-100 justify-content-center align-items-center">
    <div class="col-md-offset-2 col-md-10 bottom-right">
        <div class="back-list">@Html.ActionLink("Edit", "Edit", new { id = Model.ActivityGroupId }, new { @class = "btn btn-default" })</div>
        <div class="back-list">@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })</div>
    </div>
</div>