@model Ganedata.Core.Entities.Domain.PalletDispatchViewModel
@using Ganedata.Core.Entities.Helpers
@using Ganedata.Core.Models;

@using (Html.BeginForm("SavePalletsDispatch", "Pallets", FormMethod.Post, new { @id = "frmDispatchPallets", @class = "form-horizontal", @enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.PalletDispatchId)
    @Html.Hidden("DispatchSelectedPalletIds")
    @Html.Hidden("ProofOfDeliveryImageFilenames")
    <div class="col-md-12 p-0 order-forms">
        <div class="input-group text-center h-100 justify-content-center align-items-center">
            <div class="col-md-12 p-0">
                <div class="col-md-6 p-0 pull-left">
                    <div class="col-md-12 p-0">
                        <div class="col-md-4 pull-left pallet-quantity-hlabel">Sent Method</div>
                        <div class="input-group col-md-8 pull-left">
                            @Html.DropDownListFor(m => m.SentMethodID, Model.AllSentMethods, new { @class = "chosen-select" })
                        </div>
                    </div>
                    <div class="col-md-12 p-0 pull-left">
                        <div class="col-md-4 pull-left pallet-quantity-hlabel">Tracking No.</div>
                        <div class="input-group col-md-8 pull-left">
                            @Html.TextBoxFor(m => m.TrackingReference, new { @class = "form-control" })
                        </div>
                    </div>

                    <div class="col-md-12 p-0 pull-left">
                        <div class="col-md-4 pull-left pallet-quantity-hlabel">Vehicle<a class="pull-right" id="lnkVehicleManuallyEnter" onclick="$('#divChooseVehicle').hide(); $('#divCustomVehicle').fadeIn(); $('#lnkVehicleManuallyEnter').hide(); $('#MarketVehicleID').val(null);"><span class="fa fa-pencil"></span></a></div>
                        <div class="col-md-8 pull-left" id="divChooseVehicle">@Html.DropDownListFor(m => m.MarketVehicleID, Model.AllVehicles, "Select vechicle", new { @class = "chosen-select" })</div>
                        <div class="col-md-12" id="divCustomVehicle" style="display: none">
                            <div class="col-md-10 pull-left">@Html.TextBoxFor(m => m.CustomVehicleModel)</div><a class="fa fa-times col-md-1 pull-left" onclick="$('#divCustomVehicle').hide(); $('#divChooseVehicle').fadeIn(); $('#lnkVehicleManuallyEnter').fadeIn();"></a>
                        </div>
                    </div>
                    <div class="col-md-12 p-0 pull-left">
                        <div class="col-md-4 pull-left pallet-quantity-hlabel">Driver <a class="pull-right" id="lnkDriverManuallyEnter" onclick="$('#divChooseDriver').hide(); $('#divCustomDriver').fadeIn(); $('#lnkDriverManuallyEnter').hide(); $('#MarketVehicleDriverID').val(null);"><span class="fa fa-pencil"></span></a></div>
                        <div class="col-md-8 pull-left" id="divChooseDriver">@Html.DropDownListFor(m => m.MarketVehicleDriverID, Model.AllDrivers, "Select driver", new { @class = "chosen-select" })</div>
                        <div class="col-md-12" id="divCustomDriver" style="display: none">
                            <div class="col-md-10"> @Html.TextBoxFor(m => m.CustomDriverDetails)</div><a class="fa fa-times col-md-1" onclick="$('#divCustomDriver').hide(); $('#divChooseDriver').fadeIn(); $('#lnkDriverManuallyEnter').fadeIn();"></a>
                        </div>
                    </div>
                    <div class="col-md-12 p-0 pull-left">
                        <div class="col-md-4 pull-left pallet-quantity-hlabel">Dispatch No.</div>
                        <div class="input-group col-md-8 pull-left">
                            @Html.TextBoxFor(m => m.DispatchRefrenceNumber, new { @class = "form-control" })
                        </div>
                    </div>

                </div>
                <div class="col-md-6 p-0 pull-left">

                    <div class="col-md-12 pallet-quantity-hlabel">Upload Dispatch Evidences</div>

                    <div class="col-md-12">
                        @Html.Partial("_Uploader")
                        <br />

                        <div id="dvfiles" style="display: block;">
                            <strong>Uploaded Files</strong>
                            @if (ViewBag.Files != null)
                            {
                                foreach (var file in ViewBag.Files)
                                {
                                    <table>
                                        <tr>
                                            <td id="tdfileName">@file</td>
                                            <td>
                                                <p>&nbsp;</p>
                                            </td>
                                            <td><a class="LRemove" onclick="_RemoveProofOfDeliveryFile('@file')">Remove</a></td>
                                            <td>
                                                <p>&nbsp;</p>
                                            </td>

                                        </tr>
                                    </table>
                                }
                            }
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="col-md-12 pallet-quantity-hlabel">Dispatch Notes</div>
                        <div class="col-md-12">@Html.TextAreaFor(m => m.DispatchNotes)</div>
                    </div>


                </div>
            </div>
        </div>

    </div>
    <br />
    <br />
    <br />
    <div class="col-md-12 bottom-right-popup">
        <button type="button" class="btn btn-danger pull-left" onclick="PopupMessage.Hide()" id="btnCancelDispatch"><b class="fa fa-times"></b> Cancel</button>
        @if (Model.PalletDispatchId > 0)
        {
            <button type="button" class="btn btn-success pull-right" onclick="SaveEditPallets   ()" id="btnConfirmDispatch"><b class="fa fa-check"></b> Confirm Dispatch</button>
        }
        else
        {
            <button type="button" class="btn btn-success pull-right" onclick="processDispatch()" id="btnConfirmDispatch"><b class="fa fa-check"></b> Confirm Dispatch</button>
        }
    </div>

}

<script id="uploaderPalletTemplate" type="text/x-jquery-tmpl">
    <tr>
        <td id="tdfileName">${FileName}</td>
        <td><p>&nbsp;</p></td>
        <td><a class="LRemove" onclick="_RemoveProofOfDeliveryFile('${FileName}')">Remove</a></td>

    </tr>
</script>
