@using Ganedata.Core.Entities.Helpers
@using Ganedata.Core.Entities.Enums

@section scripts {

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.GridView, Theme = GaneStaticAppExtensions.DevexTheme },
        new StyleSheet { ExtensionType = ExtensionType.PopupControl, Theme = GaneStaticAppExtensions.DevexTheme }
        )

    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.GridView },
        new Script { ExtensionType = ExtensionType.PopupControl }
        )
}

@{
    ViewBag.Title = "Wastage";
}
<script type="text/javascript">
    function OnGridFocusedRowChanged(s, e) {
        var name = s.name;
        if (name.indexOf("WastedGoodsReturn") >= 0) {
            $('#selkeyWGR').val(s.GetRowKey(s.GetFocusedRowIndex()));
        }
    }
</script>

<h2><span>Wastages</span></h2>

@Html.Hidden("selkeyWGR", null)
@Html.Hidden("type", (int)InventoryTransactionTypeEnum.Wastage)
@Html.Hidden("groupToken", (string)ViewBag.groupToken)
<div class="col-md-12 p-0">
    <div class="col-md-6 p-0 pull-left">
        <div class="col-md-12 p-0">
            @Html.ValidationSummary(true)
            @Html.Hidden("grorderid")
            <div class="input-group graccount h-100 justify-content-center align-items-center">
                @Html.Label("Account", htmlAttributes: new { @class = "col-md-4" })
                <div class="col-md-8">
                    <input type="text" value="" readonly="readonly" class="graccounttext" id="lblgrAccount" />
                </div>
            </div>
            <div class="input-group h-100 justify-content-center align-items-center" style="display:none;">
                <div class="col-md-4">
                    @Html.Label("Order Number")
                </div>

                <div class="col-md-8">
                    @Html.TextBox("grOrderNumber")
                </div>
            </div>
            <div class="input-group h-100 justify-content-center align-items-center">
                <div class="col-md-4">
                    @Html.Label("Product Code")
                </div>
                <div class="col-md-8">

                    @Html.Partial("~/Views/Shared/ProductLargeDataComboBoxPartial.cshtml")
                </div>
            </div>
            <div class="input-group h-100 justify-content-center align-items-center">

                @Html.Label("Missing Tracking No's?", htmlAttributes: new { @class = "col-md-4" })

                <div class="col-md-8">
                    @Html.CheckBox("palletserial", htmlAttributes: new { @class = "losslyreturn form-control" })
                </div>
            </div>
            <div class="input-group h-100 justify-content-center align-items-center">
                <div class="col-md-4 height-0"> </div>
                <div class="col-md-8 pull-left mb-20">
                    <input type="button" class="btn btn-primary pull-right" id="btngrDrp" value="Return Selected Product" />
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 p-0 pull-left">
        <div class="goods-returned-list">
            @Html.Action("_WGRList")
        </div>
    </div>
    <div class="col-md-12 bottom-right">
        <div class="btn btn-default"> @Html.ActionLink("Back to List", "WastageIndex")</div>

    </div>
</div>