@using Ganedata.Core.Entities.Helpers
@section scripts {

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.GridView, Theme = GaneStaticAppExtensions.DevexTheme }
        )

    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.GridView }
        )
}

@{
    ViewBag.Title = "Wastages";
}

<h2><span>@ViewBag.Title</span></h2>

<script type="text/javascript">
    function OnGridFocusedRowChanged(s, e) {
        $('.selkey').val(s.GetRowKey(s.GetFocusedRowIndex()));
    }
</script>

<div class="col-md-12 p-0 View">
    @Html.Action("_WastageGridView")
</div>
<div class="col-md-offset-2 col-md-10 bottom-right">

    @Html.ActionLink("Create New Wastage", "WastedGoodsReturn", "InventoryTransaction", null, new { @class = "btn btn-primary " })
</div>