@model Ganedata.Core.Entities.Domain.InvoiceViewModel
<div id="invoice-preview-container">
    <div class="col-md-12 invoice-preview-pane">

        <div class="col-md-12 p-0">
            <div class="invoice-header-accountinfo col-md-7 pull-left">
                <table class="table">
                    <tr>
                        <td colspan="2">
                            <div class="h3">INVOICE</div>
                            @*@Html.HiddenFor(m=> HttpUtility.HtmlEncode(m.InvoiceAddress))*@
                            @Html.HiddenFor(m => m.InvoiceNumber)
                            @Html.HiddenFor(m => m.OrderNumber)
                            @Html.HiddenFor(m => m.InvoiceCurrency)
                            @Html.HiddenFor(m => m.InvoiceDate)

                        </td>
                    </tr>
                    <tr><td colspan="2"><strong data-attr="InvoiceAddress">@Html.Raw(Model.InvoiceAddress)</strong></td></tr>
                    <tr><td>Invoice Number</td><td class="value-box"><strong data-attr="InvoiceNumber">@(Model.InvoiceNumber ?? "[TO BE GENERATED]")</strong></td></tr>
                    <tr><td>Order Number</td><td class="value-box"><strong data-attr="OrderNumber">@Model.OrderNumber</strong></td></tr>
                </table>
            </div>
            <div class="invoice-header-taxinfo col-md-5 pull-left">
                <table class="table">
                    <tr><td>Currency</td><td class="value-box"><strong data-attr="InvoiceCurrency">@(Model.InvoiceCurrency ?? "GBP")</strong></td></tr>
                    <tr><td>Invoice Date</td><td class="value-box"><strong data-attr="InvoiceDate">@Model.InvoiceDate.ToString("dd/MM/yyyy")</strong></td></tr>
                </table>
            </div>
            <div class="invoice-product-details">
                <table class="table table-bordered" id="invoice-products-table">
                    <tr><th>Product</th><th>Unit Price</th><th>Qty</th><th>Warranty</th><th>VAT %</th><th>VAT</th><th>Discount %</th><th>Amount</th><th>Actions</th></tr>
                    @{
                        var productsIndex = 0;
                        var hfString = "";
                    }

                    @*@foreach (var item in Model.AllInvoiceProducts)
                    {
                        hfString += "<input type='hidden' id='AllInvoiceProducts" + productsIndex + "_ProductId'  name='AllInvoiceProducts[" + productsIndex + "].ProductId' value='" + item.ProductId + "' />" +
                                              "<input type='hidden' id='AllInvoiceProducts" + productsIndex + "_QtyProcessed' name='AllInvoiceProducts[" + productsIndex + "].QtyProcessed' value='" + item.QtyProcessed + "' />" +
                                              "<input type='hidden' id='AllInvoiceProducts" + productsIndex + "_NetAmount' name='AllInvoiceProducts[" + productsIndex + "].NetAmount' value='" + item.NetAmount + "' />" +
                                              "<input type='hidden' id='AllInvoiceProducts" + productsIndex + "_Price' name='AllInvoiceProducts[" + productsIndex + "].Price' value='" + item.Price + "' />" +
                                              "<input type='hidden' id='AllInvoiceProducts" + productsIndex + "_WarrantyAmount'  name='AllInvoiceProducts[" + productsIndex + "].WarrantyAmount' value='" + item.WarrantyAmount + "' />" +
                                              "<input type='hidden' id='AllInvoiceProducts" + productsIndex + "_TaxAmount' name='AllInvoiceProducts[" + productsIndex + "].TaxAmount' value='" + item.TaxAmount + "' />" +
                                              "<input type='hidden' id='AllInvoiceProducts" + productsIndex + "_TaxPercent'  name='AllInvoiceProducts[" + productsIndex + "].TaxPercent' value='" + item.TaxPercent + "' />" +
                                              "<input type='hidden'  id='AllInvoiceProducts" + productsIndex + "_DiscountAmount' name='AllInvoiceProducts[" + productsIndex + "].DiscountAmount' value='' />" +
                                              "<input type='hidden'  id='AllInvoiceProducts" + productsIndex + "_TaxAmountsInvoice' name='AllInvoiceProducts[" + productsIndex + "].TaxAmountsInvoice' value='" + item.TaxAmount + "' />";


                        var net = (item.QtyProcessed * item.Price);
                    <tbody>
                        <tr data-id="@item.ProductId" data-qty="@item.QtyProcessed" data-productname="@item.ProductName" data-unitprice="@item.Price" data-warranty="@item.WarrantyAmount.ToString("0.00")" data-net="@item.NetAmount.ToString("0.00")" data-netam="@net.ToString("0.00")" data-tax="@item.TaxAmount.ToString("0.00")" data-tax-pc="@item.TaxPercent" data-index="@productsIndex">
                            <td>@item.ProductName</td>
                            <td>@item.Price.ToString("0.00")</td>
                            <td>@item.QtyProcessed.ToString("#.##")</td>
                            <td>@item.WarrantyAmount.ToString("0.00")</td>
                            <td>@item.TaxPercent.ToString("0.00")% </td>
                            <td>@item.TaxAmount.ToString("0.00")</td>
                            <td>0.00(0.00%)</td>
                            <td>@item.NetAmount.ToString("0.00")</td>
                            <td>
                                <b class='btn btn-sm fa fa-trash'></b><b class='btn btn-sm fa fa-pencil'></b>
                            </td>
                        </tr>
                    </tbody>*@
                        @*productsIndex++;
                    }*@
                </table>
            </div>
        </div>
        <div class="col-md-12 p-0 invoice-product-preview-footer">
            <table class="invoice-footer-summary table">
                <tr>
                    <td rowspan="6" width="50%" style="text-align: justify">
                        <div class="col-md-12">
                            <small>
                                <p>
                                    <strong>Terms: 30 days from the date of Invoice</strong>
                                </p>
                                <p>
                                    <strong>Subject to our standard terms and conditions of sale, copies of which are available upon request. @Model.TenantName reserves the right to charge interest on all overdue accounts. Title to all goods supplied remains with @Model.TenantName until paid for in full.</strong>
                                </p>
                                <p>
                                    <strong>All bank charges to be met by yourselves.</strong>
                                </p>
                            </small>
                        </div>
                    </td>
                    <td class="ds-footer-label-box" width="20%">Net Amount @Html.HiddenFor(m => m.NetAmount)</td>
                    <td class="footer-value-box"><strong data-attr="Net">-</strong></td>
                </tr>
                <tr><td>Total VAT @Html.HiddenFor(m => m.TaxAmount) </td><td><strong data-attr="TotalVat">-</strong></td></tr>
                <tr><td>Total Net @Html.HiddenFor(m => m.NetAmount)</td><td><strong data-attr="TotalNet">-</strong></td></tr>
                <tr><td>Carriage @Html.HiddenFor(m => m.PostageCharges)</td><td><strong data-attr="Carriage">-</strong></td></tr>
                <tr><td>Warranty Amount @Html.HiddenFor(m => m.WarrantyAmount)</td><td><strong data-attr="TotalWarranty">-</strong></td></tr>
                <tr><td>Card Charges @Html.HiddenFor(m => m.CardCharges)</td><td><strong data-attr="CardCharges">-</strong></td></tr>
                <tr><td>Invoice Total @Html.HiddenFor(m => m.InvoiceTotal)</td><td class="value-box-total"><strong data-attr="InvoiceTotal">-</strong></td></tr>
            </table>

        </div>
    </div>
    @Html.Raw(hfString)
   
</div> 