@model IEnumerable<Ganedata.Core.Entities.Domain.Tenant>
@using Ganedata.Core.Entities.Helpers

@section scripts {

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.GridView, Theme = GaneStaticAppExtensions.DevexTheme }
        )

    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.GridView }
        )
}

@{
    ViewBag.Title = "Clients List";
}

<h2><span>Clients List</span></h2>

<script type="text/javascript">
    function OnGridFocusedRowChanged(s, e) {
        $('.selkey').val(s.GetRowKey(s.GetFocusedRowIndex()));
    }
</script>

@Html.Hidden("selkey", null, new { @class = "selkey" })

<div class="col-md-12 p-0 View">
    @Html.Action("_TenantList")
</div>

<div class="col-md-12 p-0">

     @if (WMS.Helpers.LayoutHelpers.ActivityValidator("Tenant", "Create"))
    {
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    }
    @if (WMS.Helpers.LayoutHelpers.ActivityValidator("Tenant", "Edit"))
    {
        @Html.ActionLink("Update", "Edit", null, new { @class = "btn btn-primary Caction" })
    }
    @if (WMS.Helpers.LayoutHelpers.ActivityValidator("Tenant", "Details"))
    {
        @Html.ActionLink("View", "Details", null, new { @class = "btn btn-primary Caction" })
    }
</div>