@model Ganedata.Core.Entities.Domain.AuthUser
@using Ganedata.Core.Entities.Helpers

@section scripts {

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.SpinEdit, Theme = GaneStaticAppExtensions.DevexTheme },
        new StyleSheet { ExtensionType = ExtensionType.DateEdit, Theme = GaneStaticAppExtensions.DevexTheme }
        )

    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.SpinEdit },
        new Script { ExtensionType = ExtensionType.DateEdit }
        )
}

@{
    ViewBag.Title = "Login";
}

<h2><span>Login</span></h2>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal col-md-6 pull-left">

        @Html.ValidationSummary(true)

        <div class="input-group h-100 justify-content-center align-items-center">
            @Html.Label("User Name", new { @class = "col-md-4" })
            <div class="col-md-8">
                <input id="UserName" type="text" value="" name="UserName" required autocomplete="off">
                @Html.ValidationMessageFor(model => model.UserName)
            </div>
        </div>

        <div class="input-group h-100 justify-content-center align-items-center">
            @Html.Label("Password", new { @class = "col-md-4" })
            <div class="col-md-8">
                @Html.PasswordFor(model => model.UserPassword, new { required = "required" })
                @Html.ValidationMessageFor(model => model.UserPassword)
            </div>
        </div>

        <div class="bottom-right">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
    </div>

}