@using Ganedata.Core.Entities.Helpers
@model IEnumerable<Ganedata.Core.Entities.Domain.Order>
@using Ganedata.Core.Entities.Helpers

@section scripts {

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.PageControl, Theme = GaneStaticAppExtensions.DevexTheme },
        new StyleSheet { ExtensionType = ExtensionType.GridView, Theme = GaneStaticAppExtensions.DevexTheme }
        )

    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.PageControl },
        new Script { ExtensionType = ExtensionType.GridView }
        )
}

@{
    ViewBag.Title = "Orders";
}

<h2><span>Orders</span></h2>

<script type="text/javascript">
    function OnSalesOrderTabchange(s, e) {
        var gridview = GetDevexControlByName('_SalesOrderListGridView' + tabSOs.activeTabIndex);
        var rowKey = gridview.GetRowKey(gridview.GetFocusedRowIndex());
        $('#selkeySalesOrderList').val(rowKey);
    }

    function OnGridFocusedRowChanged(s, e) {

        var name = s.name;
        if (name == "_PurchaseOrderListGridView") {
            $('#selkeyOrderList').val(s.GetRowKey(s.GetFocusedRowIndex()));
        }
        else if (name == "_DirectSalesOrderListGridViewCompleted") {
            $('#selkeyDirectSalesOrderId').val(s.GetRowKey(s.GetFocusedRowIndex()));
        }
        else if (name == "_PurchaseOrderListGridView_Completed") {
            $('#selkeyOrderCompleteList').val(s.GetRowKey(s.GetFocusedRowIndex()));
        }
        else if (name.indexOf("_SalesOrderListGridView") >= 0) {

            OnSalesOrderTabchange(s, e);
        }
        else if (name.indexOf("_TransferInOrderListGridView") >= 0) {
            $('#selkeyTransferInOrderList').val(s.GetRowKey(s.GetFocusedRowIndex()));
        }
        else if (name.indexOf("_TransferOutOrderListGridView") >= 0) {
            $('#selkeyTransferOutOrderList').val(s.GetRowKey(s.GetFocusedRowIndex()));

        }
        else if (name.indexOf("_WorksOrderListGridView") >= 0) {
            $('#selkeyWorksOrderListGridView').val(s.GetRowKey(s.GetFocusedRowIndex()));
            OnGetRowValuesWO(s.cpPOStatus[s.GetFocusedRowIndex()]);
        } else if (name.indexOf("_WorksOrderCompletedListGridView") >= 0) {
            $('#selkeyWorksOrderCompletedListGridView').val(s.GetRowKey(s.GetFocusedRowIndex()));
            OnGetRowValuesWOC(s.cpPOStatus[s.GetFocusedRowIndex()]);
        }
        else
            $('.selkey').val(s.GetRowKey(s.GetFocusedRowIndex()));
    }

    function OnGetRowValuesWO(value) {
        if (value == "Scheduled")
            $('.socactionw').show();
        else
            $('.socactionw').hide();
    }
    function OnBeginCallback(s, e) {
        e.customArgs['selectedStatus'] = $('#SalesOrderStatus :selected').val();
        var hash = window.location.hash;
        if (hash === "#SO") {

            e.customArgs['selectedStatus'] = $('#SalesOrderStatus :selected').val();


        }

        if (hash === "#WO") {

            e.customArgs['selectedStatus'] = $('#WorkOrderStatus :selected').val();


        }
    }

    function OnGetRowValuesWOC(status) {
        if (status == "Complete") {
            $("#WorksOrderCommandComplete").hide();
        } else {
            $("#WorksOrderCommandComplete").show();
        }
    }
    function UASelectedValueChanged(e) {

        var hash = window.location.hash;
        if (hash === "#SO") {
            _SalesOrderListGridView1.Refresh();
        }
        if (hash === "#PO") {
            _PurchaseOrderListGridView_Completed.Refresh();
        }
        if (hash === "#WO") {
            _WorksOrderCompletedListGridView.Refresh();
        }



    }

    }
</script>

@Html.Hidden("selkey", null, new { @class = "selkey" })
@Html.Hidden("selkeyOrderList", null)
@Html.Hidden("selkeyOrderCompleteList", null)
@Html.Hidden("selkeySalesOrderList", null)
@Html.Hidden("selkeyDirectSalesOrderId", null)
@Html.Hidden("selkeyTransferInOrderList", null)
@Html.Hidden("selkeyTransferOutOrderList", null)
@Html.Hidden("selkeyWorksOrderListGridView", null)
@Html.Hidden("selkeyWorksOrderCompletedListGridView", null)
<div id="tabs" style="visibility: hidden">
    <ul>
        @if (LayoutHelpers.ActivityValidator("Order", "Index#PO"))
        {
            <li><a href="#PO">Purchase Orders</a></li>
        }
        @if (LayoutHelpers.ActivityValidator("Order", "Index#SO"))
        {
            <li><a href="#SO">Sales Orders</a></li>
        }
        @if (LayoutHelpers.ActivityValidator("Order", "Index#TO"))
        {
            <li><a href="#TO">Transfer Orders</a></li>
        }
        @if (LayoutHelpers.ActivityValidator("Order", "Index#WO") && ViewBag.IsWorksOrdersEnabled)
        {
            <li><a href="#WO">Works Orders</a></li>
        }
        @if (LayoutHelpers.ActivityValidator("Order", "Index#DO"))
        {
            <li><a href="#DO">Direct Sales Orders</a></li>
        }
    </ul>
    @if (LayoutHelpers.ActivityValidator("Order", "Index#PO"))
    {
        <div id="PO">
            @Html.DevExpress().PageControl(s =>
       {
           s.EnableTabScrolling = true;
           s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
           s.Name = "tabPOs";
           s.TabPages.Add("To be Processed").SetContent(() =>
           {
               Html.RenderAction("_PurchaseOrders", "Order", new {@type = 0});

               ViewContext.Writer.Write("<div class='col-md-offset-2 col-md-10 bottom-right'>");

               if (WMS.Helpers.LayoutHelpers.ActivityValidator("PurchaseOrders", "Create"))
               {
                   ViewContext.Writer.Write(@Html.ActionLink("Create New", "Create", "PurchaseOrders", null, new {@class = "btn btn-primary  ", @id = "lnkOrderUpdate"}));
               }
               if (WMS.Helpers.LayoutHelpers.ActivityValidator("PurchaseOrders", "Edit"))
               {
                   ViewContext.Writer.Write(@Html.ActionLink("Update", "Edit", "PurchaseOrders", null, new {@class = "btn btn-primary  Caction", @id = "lnkOrderUpdate"}));
                   ViewContext.Writer.Write("<a class= 'btn btn-primary lnkDelete' data-type='PO' data-target='#selkeyOrderList'>Delete</a>");
               }
               if (WMS.Helpers.LayoutHelpers.ActivityValidator("PurchaseOrders", "ReceivePO"))
               {
                   ViewContext.Writer.Write(@Html.ActionLink("Process Order", "ReceivePO", "PurchaseOrders", null, new {@class = "btn btn-primary  Caction", @id = "lnkOrderUpdate"}));
               }
               if (WMS.Helpers.LayoutHelpers.ActivityValidator("Reports", "PurchaseOrderPrint"))
               {
                   ViewContext.Writer.Write(@Html.ActionLink("Print Order", "PurchaseOrderPrint", "Reports", null, new {@class = "btn btn-primary Caction", @id = "lnkOrderUpdate", target = "_blank"}));
               }
               if (WMS.Helpers.LayoutHelpers.ActivityValidator("Order", "OrderNotification"))
               {
                   ViewContext.Writer.Write(@Html.ActionLink("Email Order", "OrderNotification", "Order", null, new {@class = "btn btn-primary Caction", @id = "lnkOrderUpdate"}));
               }

               ViewContext.Writer.Write("</div>");
           });

           s.TabPages.Add("Completed").SetContent(() =>
           {


               Html.RenderAction("_PurchaseOrders", "Order", new {@type = 1});




               ViewContext.Writer.Write("<div class='col-md-offset-2 col-md-10 bottom-right'>");

               if (WMS.Helpers.LayoutHelpers.ActivityValidator("PurchaseOrders", "Create"))
               {
                   ViewContext.Writer.Write(@Html.ActionLink("Create New", "Create", "PurchaseOrders", null, new {@class = "btn btn-primary  ", @id = "lnkOrderCompleteUpdate" }));
               }
               if (WMS.Helpers.LayoutHelpers.ActivityValidator("PurchaseOrders", "Edit"))
               {
                   ViewContext.Writer.Write(@Html.ActionLink("Update", "Edit", "PurchaseOrders", null, new {@class = "btn btn-primary  Caction", @id = "lnkOrderCompleteUpdate" }));
               }
               ViewContext.Writer.Write("</div>");
           });

       }).GetHtml()

        </div>
    }
    @if (LayoutHelpers.ActivityValidator("Order", "Index#SO"))
    {
        <div id="SO">

            <div class="col-md-12 p-0 legend-pane">
                <p class="pull-left" style="text-align:left;margin-bottom:0px"><label style="height:12px;width:24px;background-color:lightcoral;vertical-align:middle"></label>  Proforma</p>
                <p class="pull-left" style="text-align:left;margin-bottom:0px"><label style="height:12px;width:24px;background-color:orange;vertical-align:middle"></label>  Quotation</p>
                <p class="pull-left" style="text-align:left;margin-bottom:0px"><label style="height:12px;width:24px;background-color:lightsteelblue;vertical-align:middle"></label>  Loan</p>
                <p class="pull-left" style="text-align:left;margin-bottom:0px"><label style="height:12px;width:24px;background-color:lightgreen;vertical-align:middle"></label>  Samples</p>
                <div class="clearfix"></div>
            </div>

            @Html.DevExpress().PageControl(s =>
       {
           s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
           s.Name = "tabSOs";
           s.ClientSideEvents.ActiveTabChanged = "function(s,e){ OnSalesOrderTabchange(s,e); }";

           s.TabPages.Add("To be Processed").SetContent(() =>
           {
               //saad
               Html.RenderAction("_SalesOrders", "Order", new { type = 1 });

               ViewContext.Writer.Write("<div class=\"col-md-offset-2 col-md-10 bottom-right\">");

               if (WMS.Helpers.LayoutHelpers.ActivityValidator("SalesOrders", "Create"))
               {
                   ViewContext.Writer.Write(
                       Html.ActionLink("Create New", "Create", "SalesOrders", null, new {@class = "btn btn-primary", @id = "lnkOrderUpdate"})
                       );
               }
               if (WMS.Helpers.LayoutHelpers.ActivityValidator("SalesOrders", "Edit"))
               {
                   ViewContext.Writer.Write(
                       Html.ActionLink("Update", "Edit", "SalesOrders", null, new {@class = "btn btn-primary  Caction", @id = "lnkSalesOrderUpdate"})
                       );
                   ViewContext.Writer.Write("<a class= 'btn btn-primary lnkDelete' data-type='SO' data-target='#selkeySalesOrderList'>Delete</a>");
               }
               if (WMS.Helpers.LayoutHelpers.ActivityValidator("Reports", "SalesOrderPrint"))
               {
                   ViewContext.Writer.Write(
                   Html.ActionLink("Print Order", "SalesOrderPrint", "Reports", null, new {@class = "btn btn-primary Caction", @id = "lnkSalesOrderPrint", target = "_blank"})
                   );
               }
               if (WMS.Helpers.LayoutHelpers.ActivityValidator("SalesOrders", "ProcessOrder"))
               {
                   ViewContext.Writer.Write(
                   Html.ActionLink("Process Order", "ProcessOrder", "SalesOrders", null, new {@class = "btn btn-primary socaction Caction", @id = "lnkSalesOrderUpdate"})
                   );
               }
               ViewContext.Writer.Write("</div>");
           });

           s.TabPages.Add("Completed").SetContent(() =>
           {
               Html.RenderAction("_SalesOrders", "Order", new { type=2});

               ViewContext.Writer.Write("<div class=\"col-md-offset-2 col-md-10 bottom-right\">");

               if (WMS.Helpers.LayoutHelpers.ActivityValidator("SalesOrders", "Edit"))
               {
                   ViewContext.Writer.Write(
                       Html.ActionLink("Update", "Edit", "SalesOrders", null, new {@class = "btn btn-primary Caction", @id = "lnkSalesOrderUpdate"})
                       );
               }
               if (WMS.Helpers.LayoutHelpers.ActivityValidator("Reports", "SalesOrderPrint"))
               {
                   ViewContext.Writer.Write(Html.ActionLink("Print Order", "SalesOrderPrint", "Reports", null, new {@class = "btn btn-primary Caction", @id = "lnkSalesOrderPrint", target = "_blank"}));
               }

               ViewContext.Writer.Write("</div>");
           });

       }).GetHtml()
        </div>
    }

    @if (LayoutHelpers.ActivityValidator("Order", "Index#TO"))
    {
        <div id="TO">
            @Html.DevExpress().PageControl(s =>
       {
           s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
           s.Name = "tabTOs";


           s.TabPages.Add("Transfer In Orders").SetContent(() =>
           {
               Html.RenderAction("_TransferInOrders", "Order", new {@type = 8});
               ViewContext.Writer.Write("<div class='col-md-offset-2 col-md-10 bottom-right'>");
               if (WMS.Helpers.LayoutHelpers.ActivityValidator("TransferOrders", "Create"))
               {
                   ViewContext.Writer.Write(@Html.ActionLink("Create New", "Create", "TransferOrders", null, new {@class = "btn btn-primary  Caction", @id = "lnkTransferInOrderCreate"}));
               }
               if (WMS.Helpers.LayoutHelpers.ActivityValidator("TransferOrders", "Edit"))
               {
                   ViewContext.Writer.Write(@Html.ActionLink("Update", "Edit", "TransferOrders", null, new {@class = "btn btn-primary  Caction", @id = "lnkTransferInOrderUpdate"}));
               }
               if (WMS.Helpers.LayoutHelpers.ActivityValidator("TransferOrders", "ProcessOrder"))
               {
                   ViewContext.Writer.Write(@Html.ActionLink("Process Order", "ProcessOrder", "TransferOrders", null, new {@class = "btn btn-primary  Caction", @id = "lnkTransferInOrderUpdate"}));
               }
               if (WMS.Helpers.LayoutHelpers.ActivityValidator("Reports", "TransferOrderPrint"))
               {
                   ViewContext.Writer.Write(@Html.ActionLink("Print Order", "TransferOrderPrint", "Reports", null, new {@class = "btn btn-primary Caction", @id = "lnkTransferInOrderUpdate", target = "_blank" }));
               }
               ViewContext.Writer.Write("</div>");

           });

           s.TabPages.Add("Transfer Out Orders").SetContent(() =>
           {
               Html.RenderAction("_TransferOutOrders", "Order");


               ViewContext.Writer.Write(
                   "<div class='col-md-offset-2 col-md-10 bottom-right'>"
                   );

               if (WMS.Helpers.LayoutHelpers.ActivityValidator("TransferOrders", "Create"))
               {
                   ViewContext.Writer.Write(@Html.ActionLink("Create New", "Create", "TransferOrders", null, new {@class = "btn btn-primary  Caction", @id = "lnkTransferOutOrderCreate"}));
               }
               if (WMS.Helpers.LayoutHelpers.ActivityValidator("TransferOrders", "Edit"))
               {
                   ViewContext.Writer.Write(@Html.ActionLink("Update", "Edit", "TransferOrders", null, new {@class = "btn btn-primary  Caction", @id = "lnkTransferOutOrderUpdate"}));
               }
               if (WMS.Helpers.LayoutHelpers.ActivityValidator("TransferOrders", "ProcessOrder"))
               {
                   ViewContext.Writer.Write(@Html.ActionLink("Process Order", "ProcessOrder", "TransferOrders", null, new {@class = "btn btn-primary  Caction", @id = "lnkTransferOutOrderUpdate"}));
               }
               if (WMS.Helpers.LayoutHelpers.ActivityValidator("Reports", "TransferOrderPrint"))
               {
                   ViewContext.Writer.Write(@Html.ActionLink("Print Order", "TransferOrderPrint", "Reports", null, new { @class = "btn btn-primary Caction", @id = "lnkTransferOutOrderUpdate", target = "_blank" }));
               }
               ViewContext.Writer.Write("</div>");
           });
       }).GetHtml()

        </div>
    }


    @if (LayoutHelpers.ActivityValidator("Order", "Index#WO") && ViewBag.IsWorksOrdersEnabled)
    {
        <div id="WO">

            @Html.DevExpress().PageControl(s =>
       {
           s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
           s.Name = "tabWOs";
           s.TabPages.Add("Active").SetContent(() =>
           {
               Html.RenderAction("_WorksOrders", "Order");

               ViewContext.Writer.Write(
                   "<div class='col-md-offset-2 col-md-10 bottom-right'>"
                   );

               if (WMS.Helpers.LayoutHelpers.ActivityValidator("WorksOrders", "Create"))
               {
                   ViewContext.Writer.Write(@Html.ActionLink("Create New", "Create", "WorksOrders", null, new {@class = "btn btn-primary  ", @id = "lnkOrderUpdate"}));
                   ViewContext.Writer.Write(@Html.ActionLink("Create Bulk", "CreateBulk", "WorksOrders", null, new {@class = "btn btn-primary  ", @id = "lnkOrderUpdate"}));
               }
               if (WMS.Helpers.LayoutHelpers.ActivityValidator("WorksOrders", "Edit"))
               {
                   ViewContext.Writer.Write(@Html.ActionLink("Update", "Edit", "WorksOrders", null, new {@class = "btn btn-primary  Caction", @id = "lnkWorksOrderUpdate"}));
                   ViewContext.Writer.Write("<a class= 'btn btn-primary lnkDelete' data-type='WO' data-target='#selkeyWorksOrderListGridView'>Delete</a>");
               }
               if (WMS.Helpers.LayoutHelpers.ActivityValidator("WorksOrders", "ProcessOrder"))
               {
                   ViewContext.Writer.Write(@Html.ActionLink("Process Order", "ProcessOrder", "WorksOrders", null, new {@class = "btn btn-primary socactionw Caction", @id = "lnkWorksOrderUpdate"}));
               }
               if (WMS.Helpers.LayoutHelpers.ActivityValidator("Reports", "WorksOrderPrint"))
               {
                   ViewContext.Writer.Write(@Html.ActionLink("Print Order", "WorksOrderPrint", "Reports", null, new {@class = "btn btn-primary Caction", @id = "lnkWorksOrderUpdate", target = "_blank"}));
               }
               if (WMS.Helpers.LayoutHelpers.ActivityValidator("Appointments", "Index"))
               {
                   ViewContext.Writer.Write(@Html.ActionLink("Schedule Works Order", "Index", "Appointments", null, new {@class = "btn btn-primary"}));
               }
               if (WMS.Helpers.LayoutHelpers.ActivityValidator("Order", "Complete"))
               {
                   ViewContext.Writer.Write("<a href='javascript: void(0)' class='btn btn-primary' onclick='completeOrder(true)'>Complete Order</a>");
               }

               ViewContext.Writer.Write("</div>");

           });
           s.TabPages.Add("Completed").SetContent(() =>
           {
               //ViewContext.Writer.Write(Html.Partial("_FilterWOGridView"));
               Html.RenderAction("_WorksOrdersCompleted", "Order");

               ViewContext.Writer.Write(
                   "<div class='col-md-offset-2 col-md-10 bottom-right'>"
                   );

               if (LayoutHelpers.ActivityValidator("WorksOrders", "Create"))
               {
                   ViewContext.Writer.Write(@Html.ActionLink("Create New", "Create", "WorksOrders", null, new {@class = "btn btn-primary  ", @id = "lnkOrderUpdate"}));
               }
               if (LayoutHelpers.ActivityValidator("WorksOrders", "Edit"))
               {
                   ViewContext.Writer.Write(@Html.ActionLink("Update", "Edit", "WorksOrders", null, new {@class = "btn btn-primary  Caction", @id = "lnkWorkOrderCompleteUpdate"}));
               }
               if (LayoutHelpers.ActivityValidator("Reports", "WorksOrderPrint"))
               {
                   ViewContext.Writer.Write(@Html.ActionLink("Print Order", "WorksOrderPrint", "Reports", null, new {@class = "btn btn-primary Caction", @id = "lnkWorkOrderCompleteUpdate", target = "_blank" }));
               }

               ViewContext.Writer.Write("</div>");

           });
       }).GetHtml()

        </div>
    }
    @if (LayoutHelpers.ActivityValidator("Order", "Index#DO"))
    {
        <div id="DO">

            @Html.DevExpress().PageControl(s =>
            {
                s.Width = System.Web.UI.WebControls.Unit.Percentage(100);
                s.Name = "tabDOs";
                s.ClientSideEvents.ActiveTabChanged = "function(s,e){ OnSalesOrderTabchange(s,e); }";

                s.TabPages.Add("Completed Orders").SetContent(() =>
                {
                    Html.RenderAction("_DirectSalesOrders", "Order", new { type=2});

                    ViewContext.Writer.Write("<div class=\"col-md-offset-2 col-md-10 bottom-right\">");

                    if (WMS.Helpers.LayoutHelpers.ActivityValidator("DirectSalesOrders", "Create"))
                    {
                        ViewContext.Writer.Write(@Html.ActionLink("Create New", "CreateDirectSales", "DirectSales", null, new {@class = "btn btn-primary  " }));
                    }

                    if (WMS.Helpers.LayoutHelpers.ActivityValidator("Reports", "SalesOrderPrint"))
                    {
                        ViewContext.Writer.Write(
                            Html.ActionLink("Print Order", "SalesOrderPrint", "Reports", null, new {@class = "btn btn-primary Caction", @id = "lnkDirectSalesOrderPrint", target = "_blank"})
                            );
                    }
                    ViewContext.Writer.Write("</div>");
                });
            }).GetHtml()
        </div>
    }
</div>
<script>
    $("#WorksOrderCommandComplete").on("click", function () {
        var orderId = $('#selkeyWorksOrderListGridView').val();
        if (orderId < 1) return false;
        var completeOrderUrl = '@Url.Action("Complete")' + '/' + orderId;
        $(this).attr("href", completeOrderUrl);
        if (!confirm('Are you sure you want to complete the order?')) {
            return false;
        }
    });

</script>