@using Ganedata.Core.Entities.Helpers

@section scripts {

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.GridView, Theme = GaneStaticAppExtensions.DevexTheme },
        new StyleSheet { ExtensionType = ExtensionType.SpinEdit, Theme = GaneStaticAppExtensions.DevexTheme },
        new StyleSheet { ExtensionType = ExtensionType.DateEdit, Theme = GaneStaticAppExtensions.DevexTheme }
        )

    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.GridView },
        new Script { ExtensionType = ExtensionType.SpinEdit },
        new Script { ExtensionType = ExtensionType.DateEdit }
        )
}

@{
    ViewBag.Title = "Email Templates";
}

<h2><span>Email Templates</span></h2>

<script type="text/javascript">
    function OnGridFocusedRowChanged(s, e) {
        $('.selkey').val(s.GetRowKey(s.GetFocusedRowIndex()));
    }
</script>

@Html.Hidden("selkey", null, new { @class = "selkey" })

<div class="col-md-12 p-0">
    @Html.Action("EmailTemplatesPartial")
</div>
<div class="col-md-12 p-0 bottom-right">

    @if (WMS.Helpers.LayoutHelpers.ActivityValidator("TenantConfigs", "Create"))
    {
        @Html.ActionLink("Create New", "Create", "TenantConfigs", new { @class = "btn btn-primary" })

    }

</div>