@model Ganedata.Core.Entities.Domain.MarketRouteViewModel
@using Ganedata.Core.Entities.Helpers

@section scripts {

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.PopupControl, Theme = GaneStaticAppExtensions.DevexTheme },
        new StyleSheet { ExtensionType = ExtensionType.SpinEdit, Theme = GaneStaticAppExtensions.DevexTheme },
        new StyleSheet { ExtensionType = ExtensionType.DateEdit, Theme = GaneStaticAppExtensions.DevexTheme }
        )

    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.PopupControl },
        new Script { ExtensionType = ExtensionType.SpinEdit },
        new Script { ExtensionType = ExtensionType.DateEdit }
        )
}

@{
    ViewBag.Title = "Market - " + (Model.Id > 0 ? "Edit" : "Create");
}

<div>
    <h2><span>@ViewBag.Title</span></h2>
    <div class="col-md-10 p-0">
        <form class="form-horizontal" action="/MarketRoutes/SaveMarketRoute" method="post" id="frmSaveMarket">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(c => c.Id)
            <div class="input-group row h-100 justify-content-center align-items-center">
                <div class="col-md-7">
                    @Html.ValidationSummary()
                </div>
            </div>
            @if (ViewBag.Message != null)
            {
                <div class="alert-success col-md-12">
                    @ViewBag.Message
                </div>
            }
            <div class="input-group h-100 justify-content-center align-items-center">
                @Html.LabelFor(c => c.Name, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(c => c.Name, new { @placeholder = "Name", @class = "form-control" })
                </div>
            </div>
            <div class="input-group h-100 justify-content-center align-items-center">
                @Html.LabelFor(c => c.Description, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(c => c.Description, new { @placeholder = "Description", @class = "form-control" })
                </div>
            </div>
            <div class="input-group h-100 justify-content-center align-items-center">
                @Html.LabelFor(c => c.RouteDurationMins, new { @class = "col-md-4 control-label" })
                <div class="col-md-8">
                    @Html.TextBoxFor(c => c.RouteDurationMins, new { @placeholder = "Duration", @class = "form-control" })
                </div>
            </div>

            <div class="col-md-offset-2 col-md-10 bottom-right">
                <input type="submit" class="btn btn-primary" id="saveBtn_Markets" value="Save" />
                @if (Model.Id > 0)
                {
                    <a class='btn btn-primary' href='/marketroutes/routemarkets/@Model.Id' role='button' title='Manage Route Markets'><b class="fa fa-random"></b>Manage Route Markets</a>
                }
                <a class="btn btn-default" href="@Url.Action("Index","MarketRoutes")">Back to list</a>

            </div>
        </form>
    </div>
</div>
