@model Ganedata.Core.Entities.Domain.RouteMarketsViewModel
@using Ganedata.Core.Entities.Helpers

@section scripts {

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.PopupControl, Theme = GaneStaticAppExtensions.DevexTheme },
        new StyleSheet { ExtensionType = ExtensionType.SpinEdit, Theme = GaneStaticAppExtensions.DevexTheme },
        new StyleSheet { ExtensionType = ExtensionType.DateEdit, Theme = GaneStaticAppExtensions.DevexTheme }
        )

    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.PopupControl },
        new Script { ExtensionType = ExtensionType.SpinEdit },
        new Script { ExtensionType = ExtensionType.DateEdit }
        )
}

@{
    ViewBag.Title = (ViewBag.RouteName ?? "Route") + " - Markets Association";
}

<div class="col-md-12 p-0">
    <h2><span>@ViewBag.Title</span></h2>
    <div class="col-md-12 p-0">
        <div id="search-form">
            @Html.Action("SearchAvailable", "MarketRoutes", new { id = Model.RouteId })
        </div>
    </div>
    <form class="form-horizontal" action="/MarketRoutes/SaveRouteMarkets" method="post" id="frmSaveRouteMarkets">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(c => c.RouteId)
        <div class="input-group row h-100 justify-content-center align-items-center">
            <div class="col-md-7">
                @Html.ValidationSummary()
            </div>
        </div>
        @if (ViewBag.Message != null)
        {
            <div class="alert-success col-md-12">
                @ViewBag.Message
            </div>
        }

        <div class="col-md-12 p-0">
            <div class="col-md-12 pull-left p-0">
                <div class="col-md-6 pull-left">
                    <input type="text" placeholder="Find in container" class="form-control input-lg txt-search-market-routes" />
                </div>
                <div class="col-md-6 pull-left">
                    <div id="account-box-message" class="alert alert-warning">
                        Drag markets and drop in below container, also arrange them by dragging up or down.
                    </div>
                </div>
            </div>
            <div class="col-md-12 pull-left">
                <div class="route-customers-container">
                    <div class="col-md-6 pull-left route-available-markets route-markets" id="SearchUpdate">
                        @Html.DisplayFor(m => m.AvailableMarkets)
                    </div>
                    <div class="col-md-6 pull-left route-selected-markets route-markets">
                        @Html.DisplayFor(m => m.SelectedMarkets)
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-offset-2 col-md-10 bottom-right">
            @Html.HiddenFor(m => m.RouteMarketsEntries)
            <input type="submit" class="btn btn-primary" id="saveBtn_MarketRoutes" value="Save" />
            <a class="btn btn-default" href="@Url.Action("Index","MarketRoutes", new{ id= Model.RouteId})"> Back to List</a>
        </div>
    </form>
</div>
