@model Ganedata.Core.Entities.Domain.PLandlord
@using Ganedata.Core.Entities.Helpers

@section scripts {

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.GridView, Theme = GaneStaticAppExtensions.DevexTheme },
        new StyleSheet { ExtensionType = ExtensionType.PopupControl, Theme = GaneStaticAppExtensions.DevexTheme },
        new StyleSheet { ExtensionType = ExtensionType.SpinEdit, Theme = GaneStaticAppExtensions.DevexTheme },
        new StyleSheet { ExtensionType = ExtensionType.DateEdit, Theme = GaneStaticAppExtensions.DevexTheme }
        )

    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.GridView },
        new Script { ExtensionType = ExtensionType.PopupControl },
        new Script { ExtensionType = ExtensionType.SpinEdit },
        new Script { ExtensionType = ExtensionType.DateEdit }
        )
}

@{
    ViewBag.Title = "Edit";
}

<h2><span>Edit Landlord</span></h2>
<div class="col-md-12">
    
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.Hidden("SiteId", 100)
        <div class="form-horizontal">
            <div class="col-md-6 pull-left">

            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            @Html.HiddenFor(model => model.PLandlordId)

            <div class="input-group h-100 justify-content-center align-items-center">
                @Html.LabelFor(model => model.LandlordCode, htmlAttributes: new {@class = "col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.LandlordCode, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.LandlordCode, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="input-group h-100 justify-content-center align-items-center">
                @Html.LabelFor(model => model.LandlordFullname, htmlAttributes: new {@class = "col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.LandlordFullname, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.LandlordFullname, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="input-group h-100 justify-content-center align-items-center">
                @Html.LabelFor(model => model.LandlordSalutation, htmlAttributes: new {@class = "col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.LandlordSalutation, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.LandlordSalutation, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="input-group h-100 justify-content-center align-items-center">
                @Html.LabelFor(model => model.LandlordNotes1, htmlAttributes: new {@class = "col-md-4"})
                <div class="col-md-8">
                    @Html.EditorFor(model => model.LandlordNotes1, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.LandlordNotes1, "", new {@class = "text-danger"})
                </div>
            </div>

                <div class="input-group h-100 justify-content-center align-items-center">
                    @Html.LabelFor(model => model.LandlordNotes2, htmlAttributes: new {@class = "col-md-4"})
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.LandlordNotes2, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.LandlordNotes2, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="input-group h-100 justify-content-center align-items-center">
                    @Html.LabelFor(model => model.UserNotes1, htmlAttributes: new {@class = "col-md-4"})
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.UserNotes1, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.UserNotes1, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="input-group h-100 justify-content-center align-items-center">
                    @Html.LabelFor(model => model.UserNotes2, htmlAttributes: new {@class = "col-md-4"})
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.UserNotes2, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.UserNotes2, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="input-group h-100 justify-content-center align-items-center">
                    @Html.LabelFor(model => model.WorkTelephone1, htmlAttributes: new { @class = "col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.WorkTelephone1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WorkTelephone1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="input-group h-100 justify-content-center align-items-center">
                    @Html.LabelFor(model => model.WorkTelephone2, htmlAttributes: new { @class = "col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.WorkTelephone2, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WorkTelephone2, "", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="col-md-6 pull-left">
              
                <div class="input-group h-100 justify-content-center align-items-center">
                    @Html.LabelFor(model => model.AddressLine1, htmlAttributes: new {@class = "col-md-4"})
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.AddressLine1, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.AddressLine1, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="input-group h-100 justify-content-center align-items-center">
                    @Html.LabelFor(model => model.AddressLine2, htmlAttributes: new {@class = "col-md-4"})
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.AddressLine2, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.AddressLine2, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="input-group h-100 justify-content-center align-items-center">
                    @Html.LabelFor(model => model.AddressLine3, htmlAttributes: new {@class = "col-md-4"})
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.AddressLine3, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.AddressLine3, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="input-group h-100 justify-content-center align-items-center">
                    @Html.LabelFor(model => model.AddressLine4, htmlAttributes: new {@class = "col-md-4"})
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.AddressLine4, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.AddressLine4, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="input-group h-100 justify-content-center align-items-center">
                    @Html.LabelFor(model => model.AddressPostcode, htmlAttributes: new {@class = "col-md-4"})
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.AddressPostcode, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.AddressPostcode, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="input-group h-100 justify-content-center align-items-center">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="input-group h-100 justify-content-center align-items-center">
                    @Html.LabelFor(model => model.HomeTelephone, htmlAttributes: new {@class = "col-md-4"})
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.HomeTelephone, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.HomeTelephone, "", new {@class = "text-danger"})
                    </div>
                </div>


                <div class="input-group h-100 justify-content-center align-items-center">
                    @Html.LabelFor(model => model.WorkTelephoneFax, htmlAttributes: new {@class = "col-md-4"})
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.WorkTelephoneFax, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.WorkTelephoneFax, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="input-group h-100 justify-content-center align-items-center">
                    @Html.LabelFor(model => model.MobileNumber, htmlAttributes: new {@class = "col-md-4"})
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.MobileNumber, new {htmlAttributes = new {@class = "form-control"}})
                        @Html.ValidationMessageFor(model => model.MobileNumber, "", new {@class = "text-danger"})
                    </div>
                </div>

            </div>
            <br />
            <h2><span>Landlord Properties</span></h2>

            <div class="col-md-12">
                @Html.Action("PPropertiesGridview","PProperties", new { id= Model.PLandlordId })
            </div>
            
            <div class="col-md-offset-2 col-md-10 bottom-right">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Back to List", "Index", null, new {@class = "btn btn-default"})   
            </div>
        </div>
    }



</div>