@model Ganedata.Core.Entities.Domain.TenantEmailConfig

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    <div class="content">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        }







        @Html.HiddenFor(model => model.TenantEmailConfigId)



        <h4>TenantEmailConfig</h4>
        <hr />
        <div class="col-md-6 pull-left">
            <table class="table tdclear">
                <caption>
                    @Html.ValidationSummary(true)
                </caption>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.TenantId, new { @class = "col-md-4" })
                    </td>
                    <td>
                        @Html.EditorFor(model => model.TenantId)

                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.TenantId)
                    </td>
                </tr>



                <h4>TenantEmailConfig</h4>
                <hr />
                <div class="col-md-6 pull-left">
                    <table class="table tdclear">
                        <caption>
                            @Html.ValidationSummary(true)
                        </caption>
                        <tr>
                            <td>
                                @Html.LabelFor(model => model.SmtpHost, new { @class = "col-md-4" })
                            </td>
                            <td>
                                @Html.EditorFor(model => model.SmtpHost)

                            </td>
                            <td>
                                @Html.ValidationMessageFor(model => model.SmtpHost)
                            </td>
                        </tr>



                        <h4>TenantEmailConfig</h4>
                        <hr />
                        <div class="col-md-6 pull-left">
                            <table class="table tdclear">
                                <caption>
                                    @Html.ValidationSummary(true)
                                </caption>
                                <tr>
                                    <td>
                                        @Html.LabelFor(model => model.SmtpPort, new { @class = "col-md-4" })
                                    </td>
                                    <td>
                                        @Html.EditorFor(model => model.SmtpPort)

                                    </td>
                                    <td>
                                        @Html.ValidationMessageFor(model => model.SmtpPort)
                                    </td>
                                </tr>



                                <h4>TenantEmailConfig</h4>
                                <hr />
                                <div class="col-md-6 pull-left">
                                    <table class="table tdclear">
                                        <caption>
                                            @Html.ValidationSummary(true)
                                        </caption>
                                        <tr>
                                            <td>
                                                @Html.LabelFor(model => model.UserEmail, new { @class = "col-md-4" })
                                            </td>
                                            <td>
                                                @Html.EditorFor(model => model.UserEmail)

                                            </td>
                                            <td>
                                                @Html.ValidationMessageFor(model => model.UserEmail)
                                            </td>
                                        </tr>



                                        <h4>TenantEmailConfig</h4>
                                        <hr />
                                        <div class="col-md-6 pull-left">
                                            <table class="table tdclear">
                                                <caption>
                                                    @Html.ValidationSummary(true)
                                                </caption>
                                                <tr>
                                                    <td>
                                                        @Html.LabelFor(model => model.Password, new { @class = "col-md-4" })
                                                    </td>
                                                    <td>
                                                        @Html.EditorFor(model => model.Password)

                                                    </td>
                                                    <td>
                                                        @Html.ValidationMessageFor(model => model.Password)
                                                    </td>
                                                </tr>



                                                <h4>TenantEmailConfig</h4>
                                                <hr />
                                                <div class="col-md-6 pull-left">
                                                    <table class="table tdclear">
                                                        <caption>
                                                            @Html.ValidationSummary(true)
                                                        </caption>
                                                        <tr>
                                                            <td>
                                                                @Html.LabelFor(model => model.EnableSsl, new { @class = "col-md-4" })
                                                            </td>
                                                            <td>
                                                                @Html.EditorFor(model => model.EnableSsl)

                                                            </td>
                                                            <td>
                                                                @Html.ValidationMessageFor(model => model.EnableSsl)
                                                            </td>
                                                        </tr>



                                                        <h4>TenantEmailConfig</h4>
                                                        <hr />
                                                        <div class="col-md-6 pull-left">
                                                            <table class="table tdclear">
                                                                <caption>
                                                                    @Html.ValidationSummary(true)
                                                                </caption>
                                                                <tr>
                                                                    <td>
                                                                        @Html.LabelFor(model => model.DateUpdated, new { @class = "col-md-4" })
                                                                    </td>
                                                                    <td>
                                                                        @Html.EditorFor(model => model.DateUpdated)

                                                                    </td>
                                                                    <td>
                                                                        @Html.ValidationMessageFor(model => model.DateUpdated)
                                                                    </td>
                                                                </tr>



                                                                <h4>TenantEmailConfig</h4>
                                                                <hr />
                                                                <div class="col-md-6 pull-left">
                                                                    <table class="table tdclear">
                                                                        <caption>
                                                                            @Html.ValidationSummary(true)
                                                                        </caption>
                                                                        <tr>
                                                                            <td>
                                                                                @Html.LabelFor(model => model.UpdatedBy, new { @class = "col-md-4" })
                                                                            </td>
                                                                            <td>
                                                                                @Html.EditorFor(model => model.UpdatedBy)

                                                                            </td>
                                                                            <td>
                                                                                @Html.ValidationMessageFor(model => model.UpdatedBy)
                                                                            </td>
                                                                        </tr>



                                                                        <h4>TenantEmailConfig</h4>
                                                                        <hr />
                                                                        <div class="col-md-6 pull-left">
                                                                            <table class="table tdclear">
                                                                                <caption>
                                                                                    @Html.ValidationSummary(true)
                                                                                </caption>
                                                                                <tr>
                                                                                    <td>
                                                                                        @Html.LabelFor(model => model.IsActive, new { @class = "col-md-4" })
                                                                                    </td>
                                                                                    <td>
                                                                                        @Html.EditorFor(model => model.IsActive)

                                                                                    </td>
                                                                                    <td>
                                                                                        @Html.ValidationMessageFor(model => model.IsActive)
                                                                                    </td>
                                                                                </tr>


                                                                            </table>
                                                                        </div><!--left-->
                                                                </div>

                                                                <div class="col-md-6 pull-left">

                                                                    <table class="table tdclear">
                                                                        <tr>
                                                                            <td>&nbsp;</td>
                                                                            <td>&nbsp;  </td>
                                                                            <td>&nbsp;</td>
                                                                        </tr>

                                                                        <tr>
                                                                            <td>&nbsp;</td>
                                                                            <td>&nbsp;  </td>
                                                                            <td><input type="submit" value="Save" class="btn btn-primary" style="width:55px;" /></td>
                                                                        </tr>

                                                                </div>


                                                                <div class="clear"></div>
                                                                }

                                                                <div>
                                                                    @Html.ActionLink("Back to List", "Index")
                                                                </div>
</body>
</html>

</div>