@using Ganedata.Core.Entities.Helpers
@using StackExchange.Profiling;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/images/WZ_favicon.ico" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/Themes/UI-WZ/uiwz")
    @Styles.Render("~/Content/fontawesome-bundle")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/cldr")
    @Scripts.Render("~/bundles/globalize")
    @Scripts.Render("~/bundles/cookie")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/ace")
    @Scripts.Render("~/bundles/custom")
    @Scripts.Render("~/bundles/ext-language")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/unobtrusive")
    @RenderSection("scripts", required: false)

    @{ bool loginStatus = LayoutHelpers.UserLoginStatus(); }

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

</head>
<body>
    <div class="content">
        <div class="col-lg-12">
            @RenderBody()
        </div>
    </div>

    @* Mini Profiler *@
    @MiniProfiler.Current.RenderIncludes()

</body>
</html>