@model Ganedata.Core.Entities.Domain.ProductSCCCodes
@using Ganedata.Core.Entities.Helpers

@section scripts {

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.SpinEdit, Theme = GaneStaticAppExtensions.DevexTheme },
        new StyleSheet { ExtensionType = ExtensionType.DateEdit, Theme = GaneStaticAppExtensions.DevexTheme }
        )

    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.SpinEdit },
        new Script { ExtensionType = ExtensionType.DateEdit }
        )
}

@{
    ViewBag.Title = "Delete SCCCode";
}
<h2><span>Delete Product SCC Code</span></h2>
<h3 class="alert alert-danger">Are you sure you want to delete this?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SCC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SCC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        //  @Html.HiddenFor(m => m.ProductSCCCodeId)
        <div class="input-group h-100 justify-content-center align-items-center">
            <div class="col-md-offset-2 col-md-10 bottom-right">
                <input type="submit" value="Delete" class="btn btn-primary" />
                <div class="btn btn-default"> @Html.ActionLink("Cancel", "Edit", null, null, null, "product-codes", new { @id = Session["pId"] }, null)</div>
            </div>
        </div>
    }
</div>
