@model Ganedata.Core.Entities.Domain.Account
@using Ganedata.Core.Entities.Helpers

@section scripts {

    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionType = ExtensionType.SpinEdit, Theme = GaneStaticAppExtensions.DevexTheme },
        new StyleSheet { ExtensionType = ExtensionType.DateEdit, Theme = GaneStaticAppExtensions.DevexTheme }
        )

    @Html.DevExpress().GetScripts(
        new Script { ExtensionType = ExtensionType.SpinEdit },
        new Script { ExtensionType = ExtensionType.DateEdit }
        )
}

@{ ViewBag.Title = "Details";}

<h2><span>Customer Detail</span></h2>

<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GlobalCountry.CountryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GlobalCountry.CountryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VATNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VATNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.AccountEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telephone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GlobalCurrency.CurrencyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GlobalCurrency.CurrencyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>

        <dd>
            @DateTimeToLocal.Convert(Model.DateUpdated, ViewBag.TimeZone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @DateTimeToLocal.Convert(Model.DateCreated, ViewBag.TimeZone)
        </dd>

    </dl>
</div>
<div class="col-md-offset-2 col-md-10 bottom-right">
    @Html.ActionLink("Edit", "Edit", new { id = Model.AccountID }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-default" })
</div>