@using Ganedata.Core.Entities.Domain
@model ProductMaster
@{
    ViewBag.Title = "ProductDetails";
}
<div id="content" class="col-md-9 col-sm-8">
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">@Model.Name</a></li>
    </ul>
    <div class="row product-bg">
        <div class="col-lg-6 col-md-6 col-xs-12 sticky">
            <ul class="thumbnails">
                @if (ViewBag.DetailImagesPath != null)
                {
                    var productPath = (List<ProductFiles>)ViewBag.DetailImagesPath;

                    if (productPath.Count > 0)
                    {
                        <li>
                            <a class="thumbnail" href="@(ViewBag.BaseFilePath + productPath.FirstOrDefault()?.FilePath)" title="#">
                                <img data-zoom-image="@(ViewBag.BaseFilePath + productPath.FirstOrDefault()?.FilePath)" src="@(ViewBag.BaseFilePath + productPath.FirstOrDefault()?.FilePath)" id="zoom_03" class="img-responsive center-block" alt="image">
                            </a>
                        </li>
                    }



                    <li>
                        <div class="row">
                            <div id="gallery_01" class="owl-carousel">
                                @for (int i = 0; i < productPath.Count; i++)
                                {
                                    if (productPath.ElementAtOrDefault(i) != null)
                                    {
                                        <div class="col-xs-12">

                                            <a data-zoom-image="@(ViewBag.BaseFilePath + productPath[i].FilePath)" data-image="@(ViewBag.BaseFilePath + productPath[i].FilePath)" href="@(ViewBag.BaseFilePath + productPath[i].FilePath)">
                                                <img src="@(ViewBag.BaseFilePath + productPath[i].FilePath)" class="img-responsive center-block" alt="additional image">
                                            </a>
                                        </div>
                                    }
                                }

                            </div>
                        </div>
                    </li>

                }
            </ul>
        </div>
        <div class="col-md-6 col-lg-6 col-xs-12 pro-content">
            <h1>@Model.Name</h1>
            <hr class="hr-line">
            <ul class="list-unstyled">
                <li><span class="text-decor">Brands:</span><a href="#" class="textdeb">@Model.ManufacturerPartNo</a></li>
                <li><span class="text-decor">Product Code:</span>@Model.SKUCode</li>
                <li><span class="text-decor">Bar Code:</span>@Model.BarCode</li>
                <li><span class="text-decor">Availability:</span>@(Model.InventoryStocks.Count == 0 ? "Not Avaialable" : "In Stock")</li>
            </ul>
            <hr class="hr-line">

            <ul class="list-inline">
                <li class="text-decor-bold proprice">
                    <h2>
                        @Model.MinThresholdPrice
                    </h2>
                </li>
                <li>
                    <span style="text-decoration: line-through;">@Model.SellPrice</span>
                </li>
            </ul>

            <div id="product">
                <hr class="hr-line">
                <h3>Available Options</h3>
                <div class="form-group required ">
                    <label class="control-label text-decorop" for="input-option226">Select</label>
                    <select name="option[226]" id="input-option226" class="form-control">
                        <option value=""> --- Please Select --- </option>
                        <option value="black">
                            Black
                        </option>
                    </select>
                </div>
                <hr class="hr-line">
                <!-- Quantity option -->
                <div class="form-group">
                    <ul class="list-inline">
                        <li class="op-box qtlabel">
                            <label class="control-label text-decorop" for="input-quantity">Qty</label>
                        </li>
                        <li class="op-box qty-plus-minus">
                            <button type="button" class="form-control pull-left btn-number btnminus" disabled="disabled" data-type="minus" data-field="quantity">
                                <span class="glyphicon glyphicon-minus"></span>
                            </button>
                            <input id="input-quantity" type="text" name="quantity" value="1" size="2" class="form-control input-number pull-left" />
                            <input type="hidden" name="product_id" value="30" />
                            <button type="button" class="form-control pull-left btn-number btnplus" data-type="plus" data-field="quantity">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </li>
                    </ul>
                    <hr class="hr-line">
                    <button type="button" id="button-cart" data-loading-text="Loading..." class="btn add-to-cart btn-primary">Add to Cart</button>
                    <button type="button" data-toggle="tooltip" title="Add to Wish List" class="btn add-to-cart btn-primary pwishcom" onclick="wishlist.add('30');">
                        <svg width="20px" height="20px">
                            <use xlink:href="/Content/app/img/icons/icons.svg#wishlist"></use>
                        </svg>
                    </button>
                    <button type="button" data-toggle="tooltip" title="Compare this Product" class="btn add-to-cart btn-primary pwishcom" onclick="compare.add('30');">
                        <svg width="20px" height="20px">
                            <use xlink:href="/Content/app/img/icons/icons.svg#pcom"></use>
                        </svg>
                    </button>
                    <hr class="hr-line">
                </div>
                <!-- Quantity option end -->
            </div>
            <div class="rating">
                <ul class="list-inline">
                    <li class="prorate">
                        <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span>
                    </li>
                    <li class="proreview">
                        <a href="" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">0 reviews</a>
                    </li>
                    <li class="prowrite">
                        <a href="#rt" onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;">Write a review</a>
                    </li>
                </ul>
                <hr class="hr-line">
                <!-- AddToAny BEGIN -->
                <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
                    <a class="a2a_button_facebook"></a>
                    <a class="a2a_button_twitter"></a>
                    <a class="a2a_button_google_plus"></a>
                    <a class="a2a_button_pinterest"></a>
                    <a class="a2a_button_linkedin"></a>
                    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
                </div>
                <!-- AddToAny END -->
            </div>
        </div>
    </div>
    <div class="product-tab">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-description" data-toggle="tab">Description</a></li>
            <li><a href="#tab-review" data-toggle="tab">Reviews (0)</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab-description">
                <p>
                    @Model.Description

                </p>

            </div>
            <div class="tab-pane" id="tab-review">
                <form class="form-horizontal" id="form-review">
                    <div id="review"></div>
                    <h2 class="heading co-heading">Write a review</h2>
                    <div class="form-group required">
                        <div class="col-sm-12">
                            <label class="control-label" for="input-name">Your Name</label>
                            <input type="text" name="name" value="" id="input-name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group required">
                        <div class="col-sm-12">
                            <label class="control-label" for="input-review">Your Review</label>
                            <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                            <div class="help-block"><span class="text-danger">Note:</span> Add Basic html tag if required!</div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <div class="col-sm-12">
                            <label class="control-label rat">Rating</label>
                            &nbsp;&nbsp;&nbsp; Bad&nbsp;
                            <input type="radio" name="rating" value="1" />
                            &nbsp;
                            <input type="radio" name="rating" value="2" />
                            &nbsp;
                            <input type="radio" name="rating" value="3" />
                            &nbsp;
                            <input type="radio" name="rating" value="4" />
                            &nbsp;
                            <input type="radio" name="rating" value="5" />
                            &nbsp;Good
                        </div>
                    </div>
                    <div class="buttons clearfix">
                        <div class="pull-right">
                            <button type="button" id="button-review" data-loading-text="Loading..." class="btn btn-primary">Continue</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- relatedproduct -->
</div>

